body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* --------- header additional --------- */



#burger {
  position: absolute;
  right: 50px;
  bottom:20px;
  border: none;
  background-color: #F7F8F9;
  color: #1B1B1E;
}

#burger:hover {
  color: #58A4B0;
}

/* removes horrible green glow */

button {
  outline: none;
}

@media (max-width: 568px) {
  .navLinks {
    display: none;
  }
}


/* Bio cards additional*/

