body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* --------- header additional --------- */



#burger {
  position: absolute;
  right: 50px;
  bottom:20px;
  border: none;
  background-color: #F7F8F9;
  color: #1B1B1E;
}

#burger:hover {
  color: #58A4B0;
}

.burgerLinks {
  width: 100%;
  padding: 20px 0px;
}

/* removes horrible green glow */

button {
  outline: none;
}

@media (max-width: 568px) {
  .navLinks {
    display: none;
  }
}


/* Bio cards additional*/

.selected {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: black;
  border: 3px solid red;
}




/* ===================== TEST ===================== */

#introCanvas {
  height: 50vh;
  min-height: 350px;
  background-color: rgb(12, 13, 9);
  position: relative;
  bottom: 100px;
  padding: 100px 100px 0px 50px;
  z-index: 2;
}

#divider {
  border-bottom: 400px solid #F5f6f7;
  border-right: 400vw solid transparent;
  border-left: 0px solid transparent;
  border-top: 0px solid transparent;
  position: relative;
  bottom: 32vh;
  z-index: 2;
}

#dividerEnd {
  border-bottom: 200px solid #1B1B1E;
  border-right: 200vw solid transparent;
  border-left: 0px solid transparent;
  border-top: 0px solid transparent;
  position: relative;
  bottom: 70px;
}

#activity {
  margin-top: 100px;
}

#learnBtn {
  color: #0c0c0A
}

@keyframes rotateMe {
    0% {transform: scale(1.2)}
    100% { transform: rotate(180deg);}
}

.openBtn {
  transform:rotate(180deg);
  background: transparent;
  border: none;
}

.openBtn:hover {
  transform: rotate(180deg);
}

.activeOpenBtn {
  transform: rotate(180deg);
}

.activeInfo {
  display: block;
}

.btnIcon {
  z-index: -1;
}
